*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: Arial;
    padding: 30px;
}

li:first-child{
    color: red;
    font-size: 22px;
}

li:last-child{
    color: blue;
    font-size: 22px;
}