*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: Arial;
    padding: 30px;
}

p{
    font-size: 18px;
    line-height: 30px;
}

p::first-letter{
    font-size: 40px;
    color: red;
    font-weight: bold;
}

p::first-line{
    color: blue;
}

p::selection{
    background: yellow;
    color: red;
}