body{
    font-family:Arial;
}

.box{
    width:200px;
    height:80px;
    color:white;
    text-align:center;
    line-height:80px;
    margin:20px;
}

.static{
    background:gray;
    position:static;
}

.relative{
    background:blue;
    position:relative;
    left:30px;
}

.absolute{
    background:red;
    position:absolute;
    top:250px;
    left:300px;
}

.fixed{
    background:green;
    position:fixed;
    bottom:20px;
    left:20px;
}

.sticky{
    background:orange;
    position:sticky;
    top:0;
}