body{
    font-family: Arial, sans-serif;
    padding:20px;
    background:#f4f4f4;
}

.dashboard{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:20px;
}

.card{
    background:pink;
    padding:40px;
    text-align:center;
    font-size:22px;
    font-weight:bold;
    border-radius:10px;
    border:2px solid black;
}