body{
    background-color:lemonchiffon;
    font-family:Arial, sans-serif;
}

.news-box{
    width:100vh;
    height:80vh;
    padding:2vh;
    margin:2vh auto;
    border:2vh solid black;
    background-color:lightcyan;
}

.news-box img{
    width:60vh;
    height:50vh;
}