
.department{
    width:80vh;
    height: 10vh;
    margin:2vh;
    padding:1vh;
    text-align: center;
    color: white;
    box-sizing: border-box;
}


#cse{
    background-color: blue;
}

#it{
    background-color: green;
}

#ece{
    background-color: purple;
}

#eee{
    background-color: orange;
}

#mechanical{
    background-color: brown;
}