* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
    color: navy;
    font-size: 35px;
}

.service-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.service-card {
    width: 15%;
    padding: 20px;
    text-align: center;
    background-color: lightgray;
    border-radius: 10px;
}

@media (max-width: 576px) {

    body{
        background-color: rgb(26, 185, 238);
        }

        h1{
        color: green;
        font-size: 25px;
}

    .service-container {
        flex-direction: column;
    }

    .service-card {
        width: 90%;
        margin: auto;
    }
}